!!!
%html
  %head
    %meta{ charset: "utf-8" }
    - title = data.page.title ? data.page.title+' | Out of Memory' : 'Out of Memory'
    %title #{title}
    = stylesheet_link_tag "normalize", "all"
    = javascript_include_tag  "all"
    = partial 'layouts/ga'

  %body{ class: page_classes }
    %header
      %h1
        © Naokazu Terada
      %nav
        %a.index{href:'/'}
          I
          %span 
            ndex
        %a.about{href:'/about.html'}
          A
          %span 
            bout
    -if current_article
      %h1.title #{current_article.title}
    #wrap
      = yield
    
    = partial 'layouts/disqus' if (page_classes != 'index') && (page_classes != 'about')
